*{
    background-color: rgb(134, 255, 123);
}
h1{
    color: red;
}
h1:hover{color: blue;}
p{
    column-count: 3;
    column-gap: 40px;
    column-fill: balance;
    column-rule: 4px dotted red;
}
p::selection{
    background-color: blueviolet;
    color: yellow;
}